/* Estilos do botão */
.experience__botao--repo {
    border: 1px solid var(--cor-azul);
    border-radius: 5px;
    color: var(--cor-azul);
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    line-height: 18.78px;
    margin-right: 10px;
    padding: 16px;
    transition: transform 0.2s ease-in-out;
}

.experience__botao--repo:hover {
    transform: scale(1.05);
}
